<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.title %> <%= @user.first_name %> <%= @user.last_name %>,
    <p>
      This is a reminder from TMS - <strong><%= @reminder.subject %></strong> - 
    </p>
    <p>If you have any enquiries. Please do not hesitate to contact us at admin@tms.com</p>
    <p>Regards,</p>
    <p>TMS</p>
  </body>
</html>