<div class="row">
	<div class="col-md-6"><%= f.text_field :reference_source, :class => "form-control",
		:placeholder => "Reference Source" %></div>

	<div class="col-md-6"><%= f.text_field :reference_url, :class => "form-control",
		:placeholder => "Reference URL with http or https (eg. http://www.google.com)" %></div>
</div>
<br/>	
<div><%= f.text_area :content, :class => "form-control",
	:placeholder => "Reference Content", :size => "50x5" %></div>