<div class="panel panel-default">
	<div class="panel-heading">
		<%= form_for ([@project, @project.project_references.build]), html: {id: 'reference-form'}, remote: true do |f| %>
			<%= render 'project_references/form_fields', :f => f %>
		<% end %>
	</div>
</div>