<h2>Import Users</h2>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'user_list' %>
  <%= submit_tag ("Upload") %>
<% end %>

<% if flash[:notice] %>
  <div class="label label-success"><%= flash[:notice] %></div>
<% end %>
