<h2>Edit Department Details</h2>

<% if @department.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% for message in @department.errors.full_messages %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<%= form_for ([@university, @department]), html: {class: "form-horizontal"} do |f| %>
  <% render 'form_fields', :f => f %>
<% end %>