<h2 id="project-guidelines" class="content-item">Project Guidelines</h2>

<h3><%= @department.name %></h3>
<div>
  <% if @department.format != nil %>
    <%= raw(simple_format(@department.format)) %>
  <% else %>
    <i>Format is not added</i>
  <% end %>
</div>

<h2 id="other-guidelines" class="content-item">Other Guidelines</h2>
<div class="panel panel-success">
  <table class="table table-hover">
    <tr class="success">
      <th>Department</th>
      <th></th>
    </tr>

    <% @departments.each do |department| %>
      <% if department != @department %>
        <tr>
          <td><%= department.name %></td>
          <td><%= link_to 'View', university_department_path(current_user.university, department) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>