<h1>About Us</h1>

For most university Ph.D candidates, the dissertation is very important to complete their Ph.D program and become a doctor. The process of writing a thesis involves many iterations of taking feedbacks from different professors and making revisions until the thesis is ready to submit for university department. During this process, the student needs to submit a hardcopy of his/her thesis to the professors at their office then the professors will review and give feedback to the student.
<br/><br/>
Online Thesis Management System provides a platform for the professors and students to manage the thesis writing process. In the scope of this project, the system focuses on making the reviewing process more convenient. By having the students uploaded their thesis to the system, the Professors can easily see and give feedbacks online using convenient editing tools. The system also provides the information on formatting, copyright, references and other requirements by the university department and performs automated checks on these requirements. After the review is done, the system will automatically notify the student so that they can retrieve the feedback from the professor make correction. 
<br/><br/>
Online Thesis Management System will make the review process much easier for both the professors and the students and help saving a lot of time comparing to the old paperwork process
