$(document).ready( function() {
	$("#add-reference").on("click", function() {
		/* Render the add reference form */
		$(".panel-group").append("<%= escape_javascript(render :partial => 'project_references/new') %>");
		$("#add-reference").css('display', 'none');
		
		/* Add event for "cancel" button, clear the form */
		$("div[id=cancel]").on("click", function() {
			$(this).closest(".panel").remove();
			$("#add-reference").css('display', '');
		});
		
		/* Clear the form when ajax call is successful */
		$("#reference-form").on("ajax:success", function (e, data, status, xhr) {
			$(this).closest(".panel").remove();
			$("#add-reference").css('display', '');
		});
		
		/* Create error notice when ajax call fails */
		$("#reference-form").on("ajax:error", function (xhr, status, error) {
			$("#add-reference-error").remove();
			var error_div = $('<div></div>').addClass('alert alert-danger');
			error_div.attr('id', 'add-reference-error');
			var error_list = $('<ul></ul');

			$.each(status.responseJSON, function() {
				error_list.append($('<li></li>').html(this));
			});
			error_div.append(error_list);
			$("#reference-form").before(error_div);
		});
	});

	$("#collaborator").autocomplete({
		source: "/search_prof",
		messages: {
			noResults: "",
			results: function(count) {}
		},
		response: function( event, ui ) {
			$("ul.ui-autocomplete").addClass("dropdown-menu");
			$("ul.ui-autocomplete").prop("id", "add-sup-dropdown");
			$("#add-collaborator-btn").prop('disabled', true);
		},
		select: function () {
			$("#add-collaborator-btn").prop('disabled', false);
		}
	});

	$("#add-supervisor-form").css('display', 'none');
	$("#add-supervisor").on('click', function () {
		$("#add-supervisor-form").css('display', '');
		$("#add-supervisor").css('display', 'none');
	});

	$("#cancel-add-supervisor").on('click', function () {
		$("#add-supervisor-form").css('display', 'none');
		$("#add-supervisor").css('display', '');
	});

	// Enable tab for files submission
	$("#file-submission-tab a").on("click", function(e) {
		e.preventDefault();
		$(this).tab('show');
	});

	var sidebar_items = $("#sidebar");
	$("h2").each(function() {
		var item = $("<li></li>");
		var link = $("<a></a>");
		link.prop("href", "#"+this.id);
		var item_name;
		if (this.id == "project-title")
			item_name = "Project Title";
		else
			item_name = $(this).html();

		link.html(item_name);
		item.append(link);
		sidebar_items.append(item);
	});

	$("#sidebar").affix({
		offset: {
			top: 100,
			bottom: 100
		}
	});

});