body {
  padding: 70px 20px 20px 20px;
}

h1, h2, h3 {
  color: #4682B4;
  text-decoration: none;
}

input[name="commit"].btn, a.btn {
  margin-top: 10px;
}

a[data-method="delete"] {
  color: #DC143C;
}

.navbar-fixed-top {
  border-bottom: solid 1px #c0c0c0;
}

.reference-link
{
	color: #428BCA;
}

#add-reference {
	cursor: pointer;
	float: right;
}