body {
  padding: 50px 20px 20px 20px;
}

h1, h2, h3 {
  color: #4682B4;
  text-decoration: none;
}

.sign-in-container {
  margin-top: 20px;
  margin-left: 33%;
  width: 33%;
}

.sign-in-container > h2 {
  margin-left: 35%;
}

h3.content-item, h2.content-item {
	border-top: solid 1px #ccc;
  padding: 10px 0 0 15px;
  margin-left: -15px;
}

h3.content-item:first-child, h2.content-item:first-child {
  border-top: none;
}

input[name="commit"].btn, a.btn {
  margin-top: 10px;
}

input[name="commit"].btn.btn-inline, a.btn.btn-inline {
  margin-top: 0;
}

a[data-method="delete"] {
  color: #DC143C;
}

.navbar-fixed-top {
  border-bottom: solid 1px #c0c0c0;
}

.reference-link
{
	color: #428BCA;
}

#add-reference, #add-supervisor {
	cursor: pointer;
}

.sidebar-nav-fixed {
    position: fixed;
    top: 60px;
    width: 15%;
}

#content-col {
	border-left: 1px solid #ccc;
}

.form-group.single-field {
  width: 33%;
}

.dropdown-menu#add-sup-dropdown > li > a {
  cursor: pointer;
  font-weight: 500;
}

#error_explanation > h2 {
  font-size: 16px;
}