<% if user_signed_in? %>
  <div class="sidebar-nav-fixed">
    <ul class="nav nav-pills nav-stacked">
      <%= nav_link 'Project List', root_path %>
      <% if current_user.role == 'Student' %>
      	<%= nav_link 'Notification', project_notifications_path(current_user.projects[0]) %>
      <% end %>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
    </ul>
  </div>
<% end %>
