<% if user_signed_in? %>
  <div class="sidebar-nav-fixed">
    <ul class="nav nav-stacked">
      <%= nav_link 'Project List', root_path %>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
	  <li><a href="#">link</a></li>
    </ul>
  </div>
<% end %>
