<% if user_signed_in? %>
	<nav id="sidebar-nav" class="sidebar-nav-fixed">
		<!-- <ul id="sidebar" class="nav nav-pills nav-stacked"> -->
		<ul id="sidebar" class="nav nav-list bs-docs-sidenav">
		</ul>
	</nav>
<% end %>