<nav id="tms-nav-bottom" class="navbar navbar-default" role="navigation">
	<div class="navbar-header"><a class="navbar-brand">&copy; TMS 2013</a></div>

	<ul class="nav navbar-nav pull-right">
		<li><a href="/about_us">About Us</a></li>
		<li><a href="/term_of_service">Term of Service</a></li>
		<li><a href="/privacy_policy">Privacy Policy</a></li>
		<li><a href="/contact_us">Contact Us</a></li>
	</ul>
</nav>